#yellow {
	background-color: yellow;
	border-width:1px;
	border-color:solid green;
}
#red {
	background-color: red;
	border-width:1px;
	border-color:solid black;
}
#green {
	background-color: green;
	border-width:1px;
	border-color:solid yellow;
}